body{
    background-color: black;
    
}
section{
    color: aliceblue;
    margin-top: 70px; 
}




.animate__animated .animate__bounce{
    text-align: center;
}


#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover; /* Preenche toda a tela, mantendo a proporção */
}

.titulo {
    text-decoration: none; /* Remove o sublinhado do link */
    color: white; /* Cor do texto do link */
    font-size: 24px; /* Tamanho da fonte do link */
    text-align: center;
    text-align: center;
}
.titulo img{
     
        display: flex; /* Define a imagem como um bloco para que as propriedades de margem automática funcionem */
        margin: 0 auto; /* Margem automática horizontalmente, centralizando a imagem */


}
.pesquisar{
    

}
.pesquisar img {
    width: 200px;
    height: 25px;
    margin-top: 30px;

}

.pesquisarTop{
    text-align: center;
}

.container {
        width: 60%; /* Largura do contêiner */
        margin: 0 auto; /* Margens automáticas para centralização horizontal */
        padding: 20px; /* Espaçamento interno do contêiner */
        border-radius: 8px; /* Borda arredondada */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
        margin-bottom: 50px; /* Margem inferior para criar espaço abaixo do contêiner */
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Define o tamanho das colunas */
        
        
      
  }

#btn{
    display: inline-block;/* bloco retangular */
    padding: 0px; /* Ajuste o preenchimento conforme necessário */
    background: radial-gradient(circle, rgba(148, 8, 199, 0.694) 20%, rgba(141, 26, 230, 0.637) 50%, rgba(122, 3, 202, 0.665) 80%);
    color: white; /* Cor do texto do botão */
    text-align: center;  
    text-decoration: none; /* tirar o ___ em baixo de ver mais */
    font-size: 20px; /* Tamanho da fonte do botão */
    border: none; /* Remove a borda do botão */
    border-radius: 25px; /* Borda arredondada do botão */
    cursor: pointer;  /* para indicar que é clicavel */
    font-weight: bold; /* Deixa o texto em negrito */
   

}

#text1{
    width: 200px;
    height: 20px;
    border-radius: 30px;
}

button {
    background-color: #610d7d; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Remover a borda */
    border-radius: 15px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor ao passar */
    font-size: 16px; /* Tamanho da fonte */
    border: 2px solid #ffffff;

}

#video-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('/exericiotemporario/papeldeparede/floresta-ndalee.mp4'); /* Caminho para o vídeo */
    background-size: auto; /* Tamanho original do vídeo */
    background-repeat: repeat; /* Repete o vídeo horizontal e verticalmente */
    pointer-events: none; /* Garante que o vídeo não seja clicável */
    opacity: 0.4; /* Define a opacidade do plano de fundo */
    min-width: 100%; /* Garantir que o vídeo não fique menor que a tela */
    position: absolute;
    
}









/*********** limpa o componente buscar campeao *************/

#text1 {
    color: rgba(0, 0, 0, 0.5); /* Texto com 50% de transparência */
    font-weight: bold; /* Negrito */
    
}



/*********** livro *************/

#book {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
}

.page {
    display: none;
    padding: 20px;
    margin-bottom: 20px;
}

#next-page {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#next-page:hover {
    background-color: #0056b3;
}

.show-page {
    display: block !important;
}


   /* Estilo para o popup */
#popup {
    position:fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* centralizado */
    background-color: rgb(0, 0, 0);
    border: 1px solid #f2f7ff;
    width: 1000px;
    height: 300px;
    z-index: 1000;/* Garante que o popup esteja acima de outros elementos na página */
    display: none;
    border-radius: 15px;
    white-space: pre-line; /* Mantém as quebras de linha e espaços em branco */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
    border-radius: 10px; /* Bordas arredondadas */
    text-align: justify; /* Texto justificado */
    
    
  
}

#fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.sobretitulo{
        font-size: 8px; /* Define o tamanho da fonte para 16 pixels */
        font-style: oblique;
      
}

/* Estilizando a imagem Nidalee */
#popup img  {
    height: auto; /* Mantém a proporção da imagem */
}


/*********** efeitos *************/


  




/*********** cards *************/

#portfolio {
    grid-area: portfolio;
    display: grid;
    background: url('/Portifolio/img/sodoces.jpg');
    background-repeat: repeat;
}

#portfolio .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 100%;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: repeat;
    text-align: center;
}

#portfolio h2 {
    text-align: center;
    color: #f2f7ff;
    font-size: 40px;
}

#portfolio .titulo-portfolio {
    
    background-repeat: repeat;
    background-position: center;
    padding: 5px;
    background-image: url('/img/sodoces.jpg');
}

.img-container {
    position: relative;
    

    
}

.img-container .img_gallery  {

        width: 170px; /* largura desejada */
        height: 270px; /* altura desejada */
        border: 2px solid black; /* largura, estilo e cor da borda */
        border-radius: 5px; /* raio de curvatura para a borda */
}

.img_gallery{
    transition: filter 0.3s ease;
}

.img_gallery:hover{
    filter: blur(8px); /* Aplica o efeito de desfoque somente na imagem quando o mouse estiver sobre ela */
}

.boxImg {
    background: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 1s ease;
    margin-top: auto;
    opacity: 0;
    border-radius: 15px; /* raio de curvatura para a borda */

}

.img-container:hover .boxImg {
    opacity: 1;
}


.img-container:hover .boxImg {
    opacity: 1;
    
}

.img-container:hover .img_gallery {
    filter: blur(8px); /* Aplica o efeito de desfoque apenas à imagem quando o mouse estiver sobre o contêiner */
}


.zoom-text {
    width: 50px;
    height: 50px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    transition: transform 0.2s linear;
}



.boxImg h2 {
    padding: 15px 0;
}

.boxImg a {
    text-decoration: none;
    color: #f2f7ff;
    margin-top: 25px;
}

.zoom-text:hover {
    cursor: zoom-in;
    transform: scale(1.1);
}

.image-view {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    display: none;
    right: 0;
}

.sec.dark .image-view {
    background: rgba(0, 0, 0, 0.5);
    right: 0;
}

.image-box {
    width: 100%;
    max-width: 1010px;
    height: 538px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 5;
    justify-content: center;
    align-items: center;
    animation: slide-in-top 1s ease 0s 1 normal none;
}

@keyframes slide-in-top {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.git-projects {
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin-top: 15px;
}

 #prev-btn img,
#next-btn img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    cursor: pointer;
}

#prev-btn img {
    left: -50px;
    font-size: 50px;
    transform: rotate(180deg);
}

#next-btn img {
    right: -50px;
    font-size: 50px;
} 
#close img {
    position: absolute;
    color: #f2f7ff;
    right: 0;
    top: -36px;
    height: auto;
    width: 26px;
    cursor: pointer
}

.sec.dark .git-projects img{
    filter: brightness(0);
}

.sec.dark .git-projects span{
    color: #09090A;
}

.sec.dark #prev-btn img {
    color: #09090A;
}

.sec.dark #close img {
    color: #09090A;
}

.sec.dark #next-btn img {
    color: #09090A;
}

#next-btn:hover,
#prev-btn:hover {
    opacity: 0.6;
}

@media (max-width: 600px) {   
    #portfolio .container {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .image-box {
        width: 94%;
        height: 150px;
        top: 27%;
    }
    #next-btn img {
        right: 0;
        top: 51%;
        border-radius: 24px;
        padding: 8px;
        background-color: rgba(0, 0, 0, 0.8);
    }
    #prev-btn img  {
        left: 0;
        top: 42%;
        border-radius: 24px;
        padding: 8px;
        background-color: rgba(0, 0, 0, 0.8);
    }
}


